absl-py==0.3.0
astor==0.7.1
backcall==0.1.0
beautifulsoup4==4.6.1
bleach==1.5.0
decorator==4.3.0
Django==2.1
djangorestframework==3.8.2
gast==0.2.0
gensim==3.5.0
grpcio==1.14.1
guesslang==0.9.3
html5lib==0.9999999
ipykernel==4.8.2
ipython==6.5.0
ipython-genutils==0.2.0
jedi==0.12.1
jupyter-client==5.2.3
jupyter-core==4.4.0
Markdown==2.6.11
mistune==0.8.3
numpy==1.15.0
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
protobuf==3.6.0
ptyprocess==0.6.0
Pygments==2.2.0
python-crfsuite==0.9.6
python-dateutil==2.7.3
python-env==1.0.0
pytz==2018.5
pyvi==0.0.9.1
pyzmq==17.1.0
scikit-learn==0.19.2
scipy==1.1.0
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
sklearn-crfsuite==0.3.6
tabulate==0.8.2
tensorboard==1.6.0
tensorflow==1.7.0rc1
termcolor==1.1.0
tornado==5.1
tqdm==4.24.0
traitlets==4.3.2
wcwidth==0.1.7
Werkzeug==0.14.1
langdetect==1.0.7
googledrivedownloader==0.3